body {
  font-family: arial;
  background: #f8f9fb;
}

html, body, ul, ol, li, form, fieldset, legend {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
}

fieldset, img {
  border: 0;
}

li {
  list-style: none;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: 'Lato', sans-serif;
  background: #272833;
  text-align: center;
  padding: 20px 10%;
  vertical-align: middle;
  color: azure;
  box-sizing: border-box;
}

/* Home Page CSS*/
.navbar-inverse {
  margin-top: 15px;
  background: none;
  border: none;
}

.navbar-inverse li {
  font-size: 18px;
}

.navbar li {
  padding-left: 30px;
  padding-right: 30px;
}

.portfolio {
  padding: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .navbar li {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    display: inline-block;
    margin-top: 15px;
  }
  .portfolio {
    display: flex;
    flex-direction: column;
  }
}

/*Index CSS*/
.myName {
  padding: 5px;
  letter-spacing: -1px;
  font-size: 48px;
}

h2 {
  font-size: 24px;
  margin: 30px 0;
}

.lead {
  margin: 15px;
  font-size: 24px;
}

p {
  font-size: 24px;
  padding: 10px;
  margin: 10px;
}

.fa {
  color: azure;
}

/*About Page CSS*/
[class^=devicon-] {
  font-size: 57px;
}

.flexcontainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 10px;
}

.cell {
  flex: 0 0 24%;
  height: 50px;
  margin: 30px auto;
  width: 100%;
}

.innerCell {
  font-size: 18px;
  margin: auto 0;
}

.picMe {
  margin-top: 20px;
  max-width: 200px;
  border-radius: 50%;
}

.describeMe {
  font-family: 'Pridi', serif;
  font-size: 18px;
  max-width: 66%;
  margin: 0 auto;
}

h3 {
  font-size: 28px;
  margin-top: 25px;
  margin-bottom: 35px;
}
