html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  background-color: #181818;
  color: #fcfcfc;
  scroll-behavior: smooth;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
  font-family: "Raleway";
}

h1 {
  font-size: 2.5rem;
}

a,
i {
  cursor: pointer;
}

a:hover,
i:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

ul {
  list-style-type: none;
}

.site-name {
  font-size: 1.6rem;
  text-decoration: none;
  color: inherit;
}

header {
  background-color: transparent;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 2.5rem;
  -webkit-animation: 1s fadeIn 0.5s forwards;
          animation: 1s fadeIn 0.5s forwards;
  opacity: 0;
}

@-webkit-keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-link {
  position: relative;
  text-decoration: none;
  color: inherit;
  display: inline-block;
  padding: 15px;
  letter-spacing: 3px;
  font-size: 1.1rem;
}

.nav-link:hover, .nav-link:active, .nav-link:focus {
  text-decoration: underline;
}

a {
  opacity: 0.95;
}

a:hover {
  opacity: 1;
}

.nav-scroll {
  background-color: #3f51b5;
  color: white;
  -webkit-box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem;
  margin: 0;
  color: #fcfcfc;
}

.hero {
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  min-height: 100vh;
}

.hero .background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: -1;
  background-color: #555;
}

.hero h1 {
  font: bold 60px "Raleway";
  margin-bottom: 15px;
}

.hero h3 {
  font: normal 28px "Raleway";
  margin-bottom: 40px;
}

.hero-content-area {
  opacity: 0;
  margin-top: 100px;
  -webkit-animation: 1s slideFade 1s forwards;
          animation: 1s slideFade 1s forwards;
}

@-webkit-keyframes slideFade {
  100% {
    margin-top: 0;
    opacity: 1;
  }
}

@keyframes slideFade {
  100% {
    margin-top: 0;
    opacity: 1;
  }
}

.grid-container {
  margin: 0 auto;
  padding: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
}

.grid-container img {
  display: block;
  width: 100%;
}

.grid-container li {
  margin: 1rem;
  position: relative;
}

.card-description {
  margin-bottom: 80px;
}

.button {
  margin: 0;
  font-size: 1rem;
  background-color: transparent;
  border: none;
  text-decoration: none;
  font-weight: 700;
  border-radius: 1rem;
}

.button a {
  color: #fcfcfc;
}

.button i {
  font-size: 2.5rem;
}

.button-one {
  position: absolute;
  left: 0;
  bottom: 0;
}

.button-two {
  position: absolute;
  left: 4rem;
  bottom: 0;
}

.contact-grid {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

hr {
  width: 250px;
  height: 3px;
  background-color: #3f51b5;
  border: 0;
  margin-bottom: 20px;
}

section .title {
  font: bold 32px "Open-Sans", sans-serif;
  margin-bottom: 30px;
  text-align: center;
}

section .self-description {
  max-width: 40em;
  line-height: 1.8;
  padding: 0 20px;
  margin-bottom: 30px;
}

.myPicture {
  max-height: 200px;
  max-width: 200px;
  border-radius: 50%;
  margin: 1em;
}

#aboutMe {
  background-color: #060606;
  color: #fcfcfc;
}

#contact {
  text-align: center;
  background: #d7d7d7;
  color: #121212;
}

#contact i {
  color: #121212;
}

#contact li {
  text-decoration: none;
  padding: 10px 40px;
  text-align: center;
}

#contact li i {
  font-size: 48px;
}

#contact li h4 {
  font-size: 18px;
  margin: 15px 0px;
}

@media screen and (max-width: 767px) {
  section {
    padding: 50px 20px;
  }
  header {
    padding: 0.2rem 1rem;
  }
  .site-name {
    font-size: 1rem;
  }
  .nav-link {
    font-size: 0.8rem;
    padding: 0.6rem;
    letter-spacing: 1.5px;
  }
  .hero {
    min-height: 600px;
  }
  .hero h1 {
    font-size: 48px;
  }
  .hero h3 {
    font-size: 24px;
  }
  i {
    font-size: 38px;
    text-align: center;
  }
}
