//Styles Sass
@import 'reset.scss';
@import "variables";

body {
  height: 100%;
  font-family: 'Lato', sans-serif;
  background: $background-color;
  text-align: center;
  padding: 20px 10%;
  vertical-align: middle;
  color: $text-color;
  box-sizing: border-box;
}
/* Section 1 - Home*/

@keyframes slideFadeUp {
  100% {
    opacity: 1;
    margin: 0;
  }
}

.navbar-inverse {
  margin-top: 15px;
  background: none;
  border: none;

  li {
    font-size: 18px;
    animation: slideFadeUp 1s 1s forwards;
    opacity: 0;
  }
}

.navbar {
  li {
    padding-left: 30px;
    padding-right: 30px;

    a {
      text-decoration: none;
      opacity: 0.75;

      &:hover {
        opacity: 1;
      }
    }
  }
}

.portfolio {
  padding: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
}

#myName {
  font-size: 60px;
  text-transform: uppercase;
}

#myTitle {
  font-size: 30px;
  font-family: 'Pridi', serif;
  margin: 15px 0;
}

.section-1 {
  opacity: 0;
  margin-top: 100px;
  animation: slideFadeUp 1s 1s forwards;
  .iconTitle {
    font-size: 24px;
    padding: 20px;
  }
}
@media (max-width: 768px) {
  .section-1 h4 {
    margin: 15px;
  }
  .navbar {
    li {
      padding-left: 20px;
      padding-right: 20px;
      text-align: center;
      display: inline-block;
      margin-top: 15px;
    }
  }

  .portfolio {
    display: flex;
    flex-direction: column;
  }
}

.fa {
  color: $text-color;

  &:hover {
    opacity: 0.75;
  }
}
/*Section 2 - About Me*/

.section-2 {
  opacity: 0;
  margin-top: 100px;
  animation: slideFadeUp 1s 1s forwards;
}

.myPicture {
  max-height: 200px;
  max-width: 200px;
  border-radius: 50%;
}

.myNameAgain {
  margin-top: 15px;
  letter-spacing: -1px;
  font-size: 48px;
}

.myDescription {
  display: inline-block;
  font-family: 'Pridi', serif;
  font-size: 20px;
  max-width: 70%;
  margin: 20px auto;
}

.myToolbox {
  font-size: 28px;
  margin-top: 25px;
  margin-bottom: 35px;
}

[class^=devicon-] {
  font-size: 57px;
}

.flexcontainer {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  .cell {
    flex: 0 0 24%;
    height: 50px;
    margin: 30px auto;
    width: 100%;

    .innerCell {
      font-size: 24px;
      margin: 10px auto;
    }
  }
}
