//Styles Sass
@import 'reset.scss';
@import "variables";

body {
  height: 100%;
  font-family: 'Lato', sans-serif;
  background: $background-color;
  text-align: center;
  padding: 20px 10%;
  vertical-align: middle;
  color: $text-color;
  box-sizing: border-box;
}
/* Section 1 - Home*/

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

.navbar-inverse {
  margin-top: 15px;
  background: none;
  border: none;
  li {
    font-size: 18px;
    animation: fadeIn 1s 1s forwards;
    opacity: 0;
  }
}

.navbar {
  li {
    padding-left: 30px;
    padding-right: 30px;
  }
}

a {
  text-decoration: none;
  opacity: 0.75;

  &:hover {
    opacity: 1;
  }
}

.portfolio {
  padding: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
}

#myName {
  animation: fadeIn 1s 0.5 forwards;
  opacity: 0;
  font-size: 55px;
  text-transform: uppercase;
}

#myTitle {
  font-size: 24px;
  animation: fadeIn 1s 0.5 forwards;
  opacity: 0;
  font-family: 'Pridi', serif;
}

.section-1 {
  opacity: 0;
  margin-top: 100px;
  animation: slideFadeUp 1s 1s forwards;
  h4 {
    font-size: $p-fontsize;
    padding: 20px;
  }
}
@keyframes slideFadeUp {
  100% {
    opacity: 1;
    margin: 0;
  }
}
@media (max-width: 768px) {
  .section-1 h4 {
    margin: 15px;
  }

  .navbar {
    li {
      padding-left: 20px;
      padding-right: 20px;
      text-align: center;
      display: inline-block;
      margin-top: 15px;
    }
  }

  .portfolio {
    display: flex;
    flex-direction: column;
  }
}
/*Index CSS*/
.myName {
  padding: 5px;
  letter-spacing: -1px;
  font-size: 48px;
}

h2 {
  font-size: 24px;
  margin: 30px 0;
}

.lead {
  margin: 15px;
  font-size: $p-fontsize;
}

.fa {
  color: azure;
}
/*About Page CSS*/
[class^=devicon-] {
  font-size: 57px;
}

h3 {
  font-size: 28px;
  margin-top: 25px;
  margin-bottom: 35px;
}

.picMe {
  margin-top: 20px;
  max-width: 200px;
  border-radius: 50%;
}

.flexcontainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 10px;

  .cell {
    flex: 0 0 24%;
    height: 50px;
    margin: 30px auto;
    width: 100%;

    .innerCell {
      font-size: 18px;
      margin: auto 0;
    }
  }
}

.myDescription {
  display: inline-block;
  font-family: 'Pridi', serif;
  font-size: 18px;
  max-width: 75%;
  margin: 20px auto;
}
