/* CSS for Portfolio */

body,
#container {
    height: 100%;
    font-family: 'Lato', sans-serif;
    background: #1d1e1f;
    text-align: center;
    padding: 50px 10%;
    vertical-align: middle;
    color: azure;
}

.navbar {
    margin-bottom: 20px;
    background: none;
    border: none;
    font-size: 16px;
}

@media (min-width: 766px){
.navbar li {
padding-left: 20px;
padding-right: 20px;
}
}

h1 {
    letter-spacing: -1px;
    font-size: 48px;
    margin: 20px 0 30px;
}

h2 {
    font-size: 36px;
    margin: 20px 0;
}

.lead {
    padding: 10px;
    margin-bottom: 30px;
    font-size: 24px;
}

p {
    font-size: 18px;
    padding: 5px;
}
